@media screen and (max-width: 576px) {

    nav,
    nav ul {
        flex-direction: column;
    }

    nav h3 {
        font-size: 1.34644rem;
        font-weight: 800;
        margin-left: 0;
        padding-left: 0;
    }

    .travel-name {
        gap: 5px;
    }

    .travel-name img {
        width: 28.724px;
        height: 25.516px;
        padding-top: 22px;
    }

    nav ul {
        text-align: center;
        padding-left: 0;
    }

    .banner-container {
        margin-left: 0;
        width: 100%;
        height: 510px;
    }

    .banner-container h1 {
        padding-top: 30px;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .banner-container p {
        font-size: 0.8rem;
        margin-bottom: 0;
        padding-bottom: 0;

    }

    .banner-btn {
        flex-direction: column;
        margin-top: 30px;


    }

    .btn-primary,
    .btn-secondery {
        width: 100%;

    }

    .arrow-icon {
        position: absolute;
        left: 220px;

    }

    .arrow-icon2 {
        position: absolute;
        left: 220px;
    }

    .arrow-icon3 {
        position: absolute;
        right: 160px;
    }

    .tour-container {
        flex-direction: column;
        width: 100%;
        padding: 2px;
        /* margin: 0;
        margin-right: 0;
        padding-right: 0; */
    }

    .tour-tittle {
        width: 90%;
    }
    .tour-tittle h2, .choose-tittle h2{
        font-size: 1.25rem;
    }

    .tour-tittle p,
    .tour-tittle li, .choose-tittle p {
        font-size: 0.8rem;
    }
    .tour-container img {
        padding-left: 0;
        width: 99%;
    }
    .choose-tittle{
        width: 100%;
    }
    .about{
        width: 90%;
    }
    .about-container{
        /* margin-bottom: 50px; */
        margin-left: 0;
        /* margin-right: 20px; */
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .about h4{
        font-size: 1.25rem;
    }
    .about p{
        font-size: 0.8rem;
    }
    .choose-tittle{
        margin-left: 0;
    }
    .guarantee{
        padding: 18px;
        /* margin: 0 3px; */
        width: 90%;
        margin: 0;
    }
    .about img, .guarantee img{
        /* width: 100%; */
    }
    .destination-container h2{
        font-size: 1.25rem;
    }
    .destination-container p{
        font-size: 0.8rem;
        width: 70%;
    }
    .destination-img .one, .destination-img .two, .destination-img .three{
        flex-direction: column;
        /* width: 100%; */
    }
    .one img{
        width: 100%;
        height: 230px;
    }
    .river img{
        width: 100%;
        /* height: 95%; */
    }
    .mountain img{
        width: 100%;
        height: 230px;
    }
    .two img{
        width: 100%;
        height: 230px;
    }









    .footer{
        width: 100%;
    }
    .footer-name{
        margin: 0;
    }
    footer p {
        font-size: 0.8rem;
        width: 100%;
    }
    footer h6{
        font-size: 0.8rem;
        width: 100%;
    }
    .newsletter{
        flex-direction: column;
        width: 100%;
    }
    .newsletter-tittle{
        margin-top: 0;
        width: 95%;
        padding: 10px;
    }
    .newsletter-tittle h4{
        font-size: 1.25rem;
    }
    .newsletter-tittle p{
        font-size: 0.8rem;
    }
    .newsletter-tittle input{
        width: 96%;
    }
    .newsletter-tittle .btn-fourth{
        width: 100%;
    }
    .newsletter img{
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    }
}