@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* shared style */
nav h3 {
    color: #131318;
}

/* nav section start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.travel-name {
    display: flex;
    gap: 15px;
}

nav h3 {
    font-size: 2.25rem;
    font-weight: 800;
}

.travel-name img {
    padding-top: 37px;
    width: 48px;
    height: 40.008px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 44px;

}

nav a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

/* nav section end */

/* banner section start */




.banner-container {
    max-width: 1150px;
    height: 480px;
    margin: 50px auto;
    margin-left: 50px;
    /* border: 2px solid red; */
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/group13.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    text-align: center;
    align-items: center;
    /* justify-content: center; */

}


.banner-container h1 {
    padding-top: 95px;
    margin-bottom: 20px;
    text-align: center;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-container p {
    margin: 0 auto;
    padding-bottom: 0;
    width: 62%;
    text-align: center;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.banner-btn {
    width: 70%;
    /* border: 2px solid red; */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px 16px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.btn-primary {
    position: relative;
    padding-left: 0;
    width: 23%;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    background: #FFF;
    padding: 16px 76px 16px 16px;
}

.arrow-icon {
    position: absolute;
    left: 150px;

}

.arrow-icon2 {
    position: absolute;
    left: 150px;
}

.btn-secondery {
    position: relative;
    width: 23%;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    border: none;
    background: #FF5400;
    padding: 16px 34px 16px 67px;
}

.arrow-icon3 {
    position: absolute;
    right: 120px;
}

/* banner section end */
/* share style */
.tour-tittle h2,
.destination-container h2,
.choose-tittle h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.tour-tittle p,
.tour-tittle li,
.destination-container p,
.choose-tittle p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;

}

/* tour section start */
.tour-container {
    max-width: 1150px;
    margin: 50px auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tour-tittle {
    width: 50%;
    /* border: 2px solid greenyellow; */
}

.tour-tittle p,
.tour-tittle li {
    margin-bottom: 25px;
}

.btn-third {
    margin-top: 22px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 35px 13px 34px;
}

.tour-img img {
    width: 100%;
    height: 100%;
}

/* tour section ended */
/* destination section start */

.destination-container {
    max-width: 1150px;
    border: 2px solid red;
    margin: 50px auto;
}

.destination-container h2,
.destination-container p {
    text-align: center;
}

.destination-img img {
    width: 100%;
    height: 100%;
}

.destination-img {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr) ; */
    gap: ;

}

.one {
    grid-column: 1/span 2;
}

/* choose section */

.chooose-container {
    max-width: 1150px;
    margin: 100px auto;
    /* text-align: center; */
}

.about-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.choose-tittle {
    margin-bottom: 40px;
    text-align: center;
}

.choose-tittle h2 {
    margin-bottom: 0;
}

.about {
    margin-bottom: 30px;
    /* border: 2px solid red; */
    padding: 20px;
    width: 48%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.about h4 {
    margin-bottom: 0;
    font-size: 1.5rem;
    color: #131318;
    font-weight: 800;
}

.about p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.about img,
.guarantee img {
    padding-bottom: 0;
    width: 10%;
}

.guarantee {
    margin-top: 0px;
    margin-left: 300px;
    padding: 20px;
    width: 48%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

/* footer section start */
footer {
    max-width: 1150px;
    height: 300px;
    border: 2px s0lid red;
}

.footer-name {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-name img {
    padding-top: 37px;
    width: 48px;
    height: 40.008px;
}
footer h3{
    font-size: 2.25rem;
    font-weight: 800;
}

footer p {
    font-size: 1rem;
    font-weight: 400;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.icon {

    margin-top: 30px;
    /* display: flex; */
}

.social-icon {
    margin-left: 10px;
}

footer h6 {
    font-family: 'Inter', sans-serif;
    width: 600px;
    border-top: 1px solid rgba(19, 19, 24, 0.10);
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 40px;
    text-align: center;
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    line-height: normal;
}